{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@app/*": "./*"
        }
      }
    ],
    ["styled-components", { "ssr": true }]
  ]
}
